/* body {
    background: #f3f1f2;
    font-family: sans-serif;
  } */

.app {
    margin: 1rem 4rem;
}

.app .ql-container {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background: #775c5c;
}


/* Snow Theme */

.app .ql-snow.ql-toolbar {
    display: block;
    background: #debff3;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.editor-container {
    height: 100%;
    /* added these styles */
    flex: 1;
    display: flex;
    flex-direction: column;
}

img.ql-urlImage-sm {
    width: 60% !important;
    height: 40vh !important;
}

img.ql-urlImage-lg {
    width: 85% !important;
    height: 50vh !important;
}

img.ql-urlImage-cover {
    width: 100% !important;
    height: 55vh !important;
    margin: 10px auto;
    padding: 0px;
}


/* Font Sizes */

.ql-size-1 {
    font-size: 0.5rem;
}

.ql-size-2 {
    font-size: 0.8rem;
}

.ql-size-4 {
    font-size: 1rem;
}

.ql-size-6 {
    font-size: 1.2rem;
}

.ql-size-8 {
    font-size: 1.4rem;
}

.ql-size-10 {
    font-size: 1.6rem;
}

.ql-size-12 {
    font-size: 1.8rem;
}

.ql-size-14 {
    font-size: 2rem;
}

.ql-size-16 {
    font-size: 2.4rem;
}

.ql-size-20 {
    font-size: 2.8rem;
}

.ql-size-24 {
    font-size: 3.2rem;
}

.ql-size-26 {
    font-size: 4rem;
}

.ql-size-30 {
    font-size: 5rem;
}


/*  */

@media (max-width: 700px) {
    img.ql-urlImage-cover {
        width: 100% !important;
        height: 40vh !important;
        margin: 10px auto;
        padding: 0px;
    }
    img.ql-urlImage-lg {
        width: 85% !important;
        height: 35vh !important;
    }
    img.ql-urlImage-sm {
        width: 65% !important;
        height: 30vh !important;
    }
}

@media (max-width: 500px) {
    img.ql-urlImage-cover {
        width: 100% !important;
        height: 30vh !important;
        margin: 10px auto;
        padding: 0px;
    }
    img.ql-urlImage-lg {
        width: 85% !important;
        height: 25vh !important;
    }
    img.ql-urlImage-sm {
        width: 65% !important;
        height: 20vh !important;
    }
}